{{#each items as |item|}}
  <li>
    {{input value=item.description}}
    <a href='#fakelink' class='icon icon-remove-sign quiet' {{action 'removeItem' item}}></a>
  </li>
{{/each}}
{{input value=description enter="addItem"}}
