<div class="media space-bottom0">
  <img src="{{model.photoUrl}}" alt="{{model.name}}" class="img-rounded" width="50">
  <div class="media-body">
    <h4>{{model.name}}</h4>
    <p>{{model.description}}</p>
  </div>
</div>
