<div class="media">
  <div class="media-left pad1r">
    <img src="/avatars/{{model.avatar}}.jpg" alt="{{model.name}}" class="img-rounded" width="50">
  </div>
  <div class="media-body">
    <h4>{{model.name}}</h4>
    <p class='small'>by {{model.createdBy}}</p>
  </div>
</div>
