/* Global styles
------------------------------------------------------- */

/* Prevents animation on initial page load. */
body:not(.animate) .animate {
  -webkit-transition:none;
     -moz-transition:none;
      -ms-transition:none;
          transition:none;
}

a { color: #41afa5; }
a:hover { color: #5bc9bf; }

.fill-teal,
.btn-primary { background-color: #41afa5; }

.btn-primary:active,
.btn-primary:hover { background-color: #5bc9bf; }

input.flat,
.dark input.flat { 
  background: transparent;
  border: none;
  padding-left: 35px;
}

.dark input.flat::-webkit-input-placeholder {
  color: #7f7f7f;
  color: rgba(255, 255, 255, 0.5);
}

.dark .tt-dropdown-menu { color: #404040; }

h4.fancy {
  font-family: 'Bitter Bold', 'Georgia', serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.navbar .primary > .home.active {
  background: none;
  color: rgba(255,255,255,.5);
}

.swatches input { display: none; }
.swatches label { cursor: pointer; }

.swatches .icon {
  visibility: hidden;
  background-color: rgba(0,0,0,.2);
  border-radius: 50%;  
}

.swatches input:checked + label .icon {
  visibility: visible;
  opacity: 1;
}

.ring {
  border: 3px solid #fff;
  border-color: rgba(255,255,255,0.5);  
}

.alert-danger {
  background-color: #ee6565;
  color: #fff;
}

.alert-success {
  background-color: #56b881;
  color: #fff;
}
