<section class="pad2y clearfix">
  <div class="col-xs-6 pad4x">
    {{partial "personas/profile"}}
  </div>

  <div class="col-xs-6">
    {{partial "personas/form"}}
  </div>
</section>

{{link-to '<< back' 'personas'}}
