<div class='contain clearfix pad4y'>
  <div class='col-sm-6 pad2y'>
    {{partial "personas/profile"}}
  </div>

  <div class='col-sm-5 col-sm-offset-1 pad2y'>
    {{partial "personas/form" showErrors=showErrors errors=errors}}
  </div>
</div>
