<div class='contain clearfix pad2y cards'>
  {{#each model as |persona|}}
    <div class='col-md-4 col-sm-6 pad2'>
      <div class='fill-white row10 round lift'>
        {{link-to persona.name 'personas.show' persona}}
      </div>
    </div>
  {{else}}
    <p>
      Oops! Create a new persona!
    </p>
  {{/each}}
</div>
