<div class="container-fluid clearfix">
  <div class="contain clearfix pad4y">
    <div class="col-sm-6">
      {{partial "personas/profile"}}
    </div>

    <div class="col-sm-5 col-sm-offset-1">
      {{partial "personas/form" showErrors=showErrors errors=errors}}
    </div>
  </div>
</div>

{{link-to '<< back' 'personas'}}
