<fieldset class="contain col-sm-6">
  <div class="input-group">
    {{type-ahead content=model name="personas" placeholder="Search personas..." onSelectItem="onSelectItem" searchProperty="name"}}
  </div>
</fieldset>

{{outlet}}
