<div class='fill-gray account'>
  <div class='navbar fill-teal col-sm-12 animate clearfix'>
    <div class='container-fluid contain'>
      <nav class='col-sm-12 text-right pad1y contain clearfix noprint'>
        <div class='primary row2'>
          <a href='index.html' class='pull-left quiet dark round'>
            <i class='icon icon-list icon-lg center'></i>
          </a>

          <fieldset class="contain col-sm-6">
            <div class="input-group">
              {{type-ahead content=model name="personas" placeholder="Search personas..." onSelectItem="onSelectItem" searchProperty="name"}}
            </div>
          </fieldset>

          <div class='inline clearfix'>
            <a href='edit.html' class='pad1 col-xs-6'>
              <i class='icon icon-edit icon-md dark'></i>
            </a>
            <a href='#fakelink' class='pad1 col-xs-6'>
              <i class='icon icon-bell icon-md dark'></i>
            </a>
          </div>

          <a href='#fakelink' class='inline img-circle'>
            <img src='img/cederholm.jpeg' class='img-circle' width='40'>
          </a>

        </div>
      </nav>
    </div>
  </div>

  <div class='keyline-bottom row3 fill-lighten2'></div>

  {{outlet}}

</div>
